# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDE / VS Code
.vscode/
.idea/

# Streamlit config (if you had credentials, though config.toml is fine)
.streamlit/credentials.toml
